@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Setofont';
	src: url('/assets/fonts/setofont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	@apply text-gray-700 bg-slate-300;
	/* background: url('/assets/images/bg.png') no-repeat center center fixed; */
}

.bubble-left {
	position: relative;
	@apply text-gray-600 mr-auto p-5 sm:p-8 text-4xl sm:text-5xl rounded-3xl backdrop-blur-sm mb-10  cursor-default items-start  bg-gray-200 bg-opacity-90 shadow-lg shadow-gray-200/50;
}
.bubble-left:after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	z-index: 1;
	border-style: solid;
	border-width: 0 20px 28px 0;
	margin-top: -10px;
	@apply top-[25%] sm:top-[21%] left-[-12px] sm:left-[-17px];
	@apply border-transparent border-r-gray-200 border-opacity-90;
}

.bubble-right {
	position: relative;
	@apply text-white ml-auto p-5 sm:p-8 text-4xl sm:text-5xl rounded-3xl backdrop-blur-sm mb-10  cursor-default items-start bg-green-400 bg-opacity-90 shadow-lg shadow-green-400/50;
}
.bubble-right:after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	z-index: 1;
	border-style: solid;
	border-width: 0 0 28px 20px;
	margin-top: -10px;
	@apply top-[25%] sm:top-[21%] right-[-12px] sm:right-[-17px];
	@apply border-transparent border-l-green-400 border-opacity-90;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 8px solid;
	@apply border-green-400;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
